<hibernate-configuration>
    <session-factory>
        <!--数据库链接配置-->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/contactmgr</property>
        <!--SQL Dialect-->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!--启动时更新数据结构-->
        <property name="hbm2ddl.auto">update</property>

        <!--显示Hibernate准备的查询-->
        <property name="show_sql">true</property>

        <!--为标识的实体类命名-->
        <mapping class="io.github.liulixiang1988.contactmgr.model.Contact"/>
    </session-factory>
</hibernate-configuration>